<h1>Welcome {{user.first_name}} {{user.last_name}}!</h1>
<h4>email: {{user.email}}</h4>
<h4>role: {{user.role}}</h4>
<button onclick="window.location.href='http://localhost:8080/logout';">logout</button>
<h4>Products: </h4>
<h4>Page: {{page}}</h4>
<h4>New cart: {{cart}}</h4>
<div id="list">
    {{#each products}}
    <div id="{{this._id}}">
        <ul>
            <li><b>id: </b>{{this._id}}</li>
            <li><b>title: </b>{{this.title}}</li>
            <li><b>description: </b>{{this.description}}</li>
            <li><b>price: </b>{{this.price}}</li>
            <li><b>thumbnails: </b>{{this.thumbnails}}</li>
            <li><b>code: </b>{{this.code}}</li>
            <li><b>stock: </b>{{this.stock}}</li>
            <li><b>category: </b>{{this.category}}</li>
            <li><b>status: </b>{{this.status}}</li>
            <button onclick="addProduct()">add to cart</button>
        </ul>
    </div>
</div>

{{/each}}
<script src="/js/front.js"></script>